__pycache__
cryptics/models/cache/*
!cryptics/models/cache/empty
.DS_Store
/cryptics/data/**/*.json*

# experiments/*
# !experiments/empty
checkpoint-*
*.tar.*
generated_predictions.txt
/experiments/i_or_data_unified/**/generated_predictions.json

*.bin

prompt.txt
t/

# python virtual env
env

# databases
*.sqlite3

# vscode
.vscode