__pycache__
cryptics/models/cache/*
!cryptics/models/cache/empty
.DS_Store
/cryptics/data/**/*.json

# experiments/*
# !experiments/empty

*.bin

# python virtual env
env

# databases
*.sqlite3

# vscode
.vscode