__pycache__
cryptics/models/cache/*
!cryptics/models/cache/empty
.DS_Store
/cryptics/data/**/*.json

# experiments/*
# !experiments/empty
checkpoint-*
*.tar.*
generated_predictions.txt

*.bin

prompt.txt

# python virtual env
env

# databases
*.sqlite3

# vscode
.vscode